<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WEBIMS</title>
    <!-- basicStyle -->
    <link href="../stylesheets/style.css" rel="stylesheet">
    <!-- jquery -->
    <script src="../jquery/jquery-3.1.1.min.js" ></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" >
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- chatBubble-->
    <link rel="stylesheet" href="../stylesheets/bubble.css" >
    <!-- scrollbar -->
    <link rel="stylesheet" href="../scrollbar/style/jquery.jscrollpane.css">
    <script src="../scrollbar/script/jquery.mousewheel.js"></script>
    <script src="../scrollbar/script/jquery.jscrollpane.min.js"></script>
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js" ></script>

    <!-- toastr -->
    <link rel="stylesheet" href="../toastr/toastr.min.css">
    <script src="../toastr/toastr.min.js"></script>

    <script src="/scripts/addFriends.js" ></script>
    <link rel="stylesheet" href="/stylesheets/addFriendModelStyle.css">

    <script src="/scripts/addGroupChat.js" ></script>
    <link rel="stylesheet" href="/stylesheets/addGroupChat.css">

    <link rel="stylesheet" href="/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/awesome-bootstrap-checkbox/build.css">
</head>
<body>
<script>
    var messageInfo = {};   // 用于存储聊天记录
    var unReadMessage = {}; // 用于存储未读消息
    $(function() {

        // 清楚隐藏域中的缓存
        $('input[type=hidden]').val('');
        var account = "<%= user.account %>";
        var socket = io();
        openAddFriend(socket, account); // 好友添加模块
        initAddGroupChat(account);             // 创建群聊模块
        loadFriendList(account);        // 加载好友列表

        // 发送当前用户的登录信息存储于后台
        socket.emit('loginInfo', account);

        // 接受私聊消息
        socket.on('sendTo', function(data) {
            // 如果发送信息的账户不是当前窗口的聊天账户则出现小红点并将信息存储于全局变量
            var sendUserAccount = data.sendUserAccount;
            if(sendUserAccount == $("#leftTopBox input").val()) {
                receiveMessage(data.msg, sendUserAccount);
                saveChatWindow();
            } else {
                if(unReadMessage[sendUserAccount]) {
                    unReadMessage[sendUserAccount].push(data.msg);
                    chageRedPoint(sendUserAccount);
                } else {
                    unReadMessage[sendUserAccount] = [data.msg];
                    showRedPoint(sendUserAccount);
                }
            }
        });

        // 接受群聊消息
        socket.on('groupChat', function(data) {
            // 如果发送信息的账户不是当前窗口的聊天账户则出现小红点并将信息存储于全局变量
            var sendUserAccount = data.sendUserAccount;
            var groupRoom = data.groupRoom;
            if(groupRoom == $("#leftTopBox input").val()) {
                receiveMessage(data.msg, sendUserAccount);
                saveChatWindow();
            } else {
                if(unReadMessage[groupRoom]) {
                    unReadMessage[groupRoom].push(data);
                    chageRedPoint(groupRoom);
                } else {
                    unReadMessage[groupRoom] = [data];
                    showRedPoint(groupRoom);
                }
            }
        });

        // 提示红点
        function showRedPoint(sendUserAccount) {
            $(".listContent input[value="+sendUserAccount+"]")
                .prevAll("span:last")
                .addClass("redPoint")
                .text(unReadMessage[sendUserAccount].length);
        }

        // 改变红框中的数字
        function chageRedPoint(sendUserAccount) {
            $(".listContent input[value="+sendUserAccount+"]")
                .prevAll("span:last")
                .text(unReadMessage[sendUserAccount].length);
        }


        // 编辑器背景颜色改变
        $("#editor").on({
            focus:function() {
                $("#editor, #inputBox, #toolbar").css("background", "white");
            },
            blur:function() {
                $("#editor, #inputBox, #toolbar").css("background", "#F1F1F1");
            },
            keydown:function() {
                if(13 == event.keyCode) {
                    if($('#editor').val().trim().length > 0) {
                        //socket.emit('groupChat', {msg: 22222});
                        $.ajax({
                            url: '/groupChat',
                            type: 'POST',
                            success: function() {
                                sendMessage();
                                TopFriend();
                                saveChatWindow();
                            }
                        });
                    } else {
                        $('.sendBtn').popover('show');
                        $('.sendBtn').focus();
                        return false;
                    }

                }
            }
        });

        // 发送按钮事件绑定
        $('.sendBtn').on({
            click:function() {
                if($('#editor').val().trim().length > 0) {
                    // 获取接受信息的对象（对象只可能是单个账户或者群聊）
                    var account = $("#leftTopBox input").val();
                    if(account.split('_')[0] === 'groupChat') {
                        // 群聊
                        socket.emit("groupChat", {groupRoom: account, msg: $("#editor").val()});
                    } else {
                        // 私聊
                        socket.emit("sendTo", {account: account, msg: $("#editor").val()});
                    }
                    $.ajax({
                        url: '/groupChat',
                        type: 'POST',
                        success: function() {
                            sendMessage();
                            TopFriend();
                            saveChatWindow();
                        }
                    });
                } else {
                    $('.sendBtn').popover('show');
                    return false;
                }
            }
        });

    });

    // 加载好友列表信息
    function loadFriendList(account) {
        $.ajax({
            url: "/loadFriendList",
            data: {
                account: account
            },
            type: 'POST',
            dataType: 'JSON',
            success: function(friends) {
                createFrinedList(friends);
                initListSlider();
                hideWindow();
                switchWindow();
                changeEmojiColor();
            }
        });
    }

    // 判断当前点击用户是否有未读消息
    function hasUnreadMessage($obj) {
        var res = false;
        var $a = $obj.find("span[class=redPoint]");
        if($a.length) res = true;
        return res;
    }

    // 将变量中的临时存储信息放入到当前window中
    function showUnreadMessage(sendUserAccount) {
        unReadMessage[sendUserAccount].forEach(function(message) {
            receiveMessage(message,sendUserAccount);
        });
        saveChatWindow();
        removeUnreadMessage(sendUserAccount);
    }

    // 将变量中的临时存储群聊信息放到当前window中
    function showUnreadGroupMessage(groupRoom) {
        unReadMessage[groupRoom].forEach(function(data) {
            receiveMessage(data.msg, data.sendUserAccount);
        });
        saveChatWindow();
        removeUnreadMessage(groupRoom);
    }

    // 移除变量中临时存储的信息
    function removeUnreadMessage(sendUserAccount) {
        if(unReadMessage[sendUserAccount]) {
            delete unReadMessage[sendUserAccount];
            removeRedPoint(sendUserAccount);
        }
    }

    // 隐藏红点
    function removeRedPoint(sendUserAccount) {
        $(".listContent input[value="+sendUserAccount+"]")
            .prevAll("span:last")
            .removeClass("redPoint")
            .text('');
    }
    // 发送信息
    function sendMessage() {
        var $editor = $('#editor');
        var message = $editor.val();
        var bubbleMessage = addSendMessageBubble(message);
        $('#messageBox').append(getTimeMessage()).append(bubbleMessage);
        $editor.val('').focus();
        scrollToBottom();
    }

    // 接受信息
    function receiveMessage(receiveMessage, sendUserAccount) {
        var bubbleMessage = addReceiveMessageBubble(receiveMessage, sendUserAccount);
        $('#messageBox').append(getTimeMessage()).append(bubbleMessage);
        scrollToBottom();
    }

    // 获取聊天时间
    function getTimeMessage() {
        var $timeDiv = $("<div></div>").addClass("timeMessage").html(getFormatDate());
        return $timeDiv;
    }
    function getFormatDate() {
        var date = new Date();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        if(month <= 9)
            month = "0" + month;
        if(day <= 9)
            day = "0" + day;
        if(hours <= 9) {
            hours = "0" + hours;
        }
        if(minutes <= 9)
            minutes = "0" + minutes;
        return date.getFullYear() + "-" + month + "-" + day + " "
            + hours + ":" + minutes;
    }

    // 发送/接受消息时滚动条自动置底
    function scrollToBottom() {
        var $messageBox = $('#messageBox');
        // 可见高度
        var viewHeight = $messageBox.height();
        // 内容总高度
        var contentHeight = $messageBox.get(0).scrollHeight;
        // 滚动条可滚动的最大高度 = 内容总高度 - 可见高度
        $messageBox.scrollTop(contentHeight - viewHeight);
    }

    // 初始化好友列表滚轴
    function initListSlider() {
        var bars = '.jspHorizontalBar, .jspVerticalBar';
        $('.scroll-pane').bind('jsp-initialised', function (event, isScrollable) {
            //hide the scroll bar on first load
            $(this).find(bars).hide();
        }).jScrollPane().hover(
            //hide show scrollbar
            function () {
                $(this).find(bars).stop().fadeTo('fast', 0.9);
            },
            function () {
                $(this).find(bars).stop().fadeTo('fast', 0);
            }
        );
    }

    // 切换聊天对象
    function switchWindow() {
        $(".listContent").bind("click", function() {
            var account = $(this).find("[name=account]").val();   // 找到当前点击的好友账号
            $('#leftTopBox').find("[name=currentAccount]").val(account); // 将当前账号赋给右上角的信息的隐藏域
            showWindow();

            // 取出聊天记录HTML
            var chatmessage = messageInfo[account];
            $('#messageBox').html('').html(chatmessage);

            // 如果有未读信息则展示未读消息并移除红点
            if(hasUnreadMessage($(this))) {
                if(account.split('_')[0] === "groupChat") {
                    showUnreadGroupMessage(account);
                } else {
                    showUnreadMessage(account);
                }

            }
            $(".listContent").css("background-color","#ddd");
            $(".listContent").children("div .blueBar").remove();
            if(!$(this).children("div .blueBar")[0]) {
                var $blueBar = $("<div>").addClass("blueBar");
                $(this).append($blueBar);
            }
            $(this).css("background-color","#E7F1F6");
            $(".nickName").text($(this).children("span[class=content_name]").text());
            $('#editor').val('').focus(); // 获取焦点
        });
    }

    // 显示右侧聊天信息
    function showWindow() {
        $('#leftTopBox').show();
        $('#messageBox').show();
        $('#inputBox').show();
        $('#toolbar').show();
    }

    // 隐藏右侧聊天信息
    function hideWindow() {
        $('#leftTopBox').hide();
        $('#messageBox').hide();
        $('#inputBox').hide();
        $('#toolbar').hide();
    }

    // 改变笑脸颜色
    function changeEmojiColor() {
        $('.emoji').on({
            mouseover: function() {
                $(this).attr("src","../images/aliIcon/emoji5_green.png")
            },
            mouseout: function() {
                $(this).attr("src","../images/aliIcon/emoji5.png")
            }
        });
    }

    // 发送的信息加气泡操作
    function addSendMessageBubble(HTMLMessage) {
        var $bubbleDiv = $("<div></div>").addClass("bubbleItem clearfix");
        var $bubbleSpan = $("<span></span>").addClass("bubble rightBubble").html(HTMLMessage);
        var $span1 = $("<span></span>").addClass("bottomLevel");
        var $span2 = $("<span></span>").addClass("topLevel");
        $bubbleSpan.append($span1).append($span2);
        $bubbleDiv.append(addAvator("rightAvator")).append($bubbleSpan);
        return $bubbleDiv;
    }

    // 接受的信息加气泡操作
    function addReceiveMessageBubble(HTMLMessage, sendUserAccount) {
        var $bubbleDiv = $("<div>").addClass("bubbleItem");
        var $bubbleSpan = $("<span>").addClass("bubble leftBubble").html(HTMLMessage);
        var $span1 = $("<span>").addClass("bottomLevel");
        var $span2 = $("<span>").addClass("topLevel");
        $bubbleSpan.append($span1).append($span2);
        $bubbleDiv.append(addAvator("leftAvator", sendUserAccount)).append($bubbleSpan);
        return $bubbleDiv;
    }

    function addAvator(locAvator, sendUserAccount) {
        var source ;
        if(locAvator == "rightAvator") {
            source = $("#avator").attr("src")
        } else {
            // 根据当前账户找到好友列表中的头像
            var currentAccount = $('#leftTopBox').find("[name=currentAccount]").val();
            // 区分群聊发送人的头像
            if(currentAccount.split('_')[0] === "groupChat") {
                source = $(".listContent input[value="+sendUserAccount+"]").prevAll(":last").attr("src");
            } else {
                source = $(".listContent input[value="+currentAccount+"]").prevAll(":last").attr("src");
            }
        }
        return $("<img>").attr("src", source).addClass(locAvator).addClass("img-circle");
    }

    function createFrinedList(friends) {
        friends.forEach(function(friend) {
            $('#listBox').append(createFriend(friend));
        });
    }

    function createFriend(friend) {
        // 通过类型来区分群聊私聊
        var account = friend.type === 1 ? "groupChat_"+friend.account : friend.account;
        var $friendDiv = $('<div>').addClass('listContent');
        var $friendAvator = $('<img>').addClass('content_img img-circle').attr('src', friend.avator);
        var $account = $('<input name="account" type="hidden" >').val(account);
        var nickName = friend.friend_remark == '' ? friend.username : friend.friend_remark;
        var $nickName = $('<span>').addClass('content_name').text(nickName);
        var $redPoint = $('<span>');
        return $friendDiv.append($friendAvator)
                         .append($redPoint)
                         .append($nickName)
                         .append($account);
    }

    // 置顶好友
    function TopFriend() {
        var currentAccount = $('#leftTopBox').find("[name=account]").val();
        var $currentCotent = $(".listContent input[value="+currentAccount+"]").parent();
        $("#listBox").prepend($currentCotent);
    }

    // 保存聊天数据
    function saveChatWindow() {
        var account = $("#leftTopBox input").val();
        messageInfo[account] = $('#messageBox').html();
    }
</script>

<div id="parentBox" >
    <div id="menuBox">
        <img id="avator" class="img-circle" href="#" src="<%= user.avator %>">
        <div  class="menu">
            <img id="comment" src="../images/aliIcon/comment.png" height="29px" width="29px" >
            <img id="friends" src="../images/aliIcon/friend.png" height="29px" width="29px" >
            <img id="friend_add" src="../images/aliIcon/friend_add.png" height="29px" width="29px" >
            <img id="setting" src="../images/aliIcon/set.png" height="29px" width="29px" >
            <!--<span class="redPoint" >1</span>-->
        </div>
    </div>
    <div id="middleBox">
        <div id="queryBox">
            <input id="queryContent" type="text" class="form-control" aria-describedby="sizing-addon3"
                   placeholder="搜索">
            <span class="glyphicon glyphicon-search"></span>
            <button id="createGroupChatBtn" type="button" class="btn btn-default"  data-toggle="modal" data-target="#createGroupChatModel">
                <img src="../images/aliIcon/add.png"  alt="发起群聊" title="发起群聊">
            </button>
        </div>
        <div id="listBox" class="scroll-pane">
        </div>
    </div>
    <div id="leftBox" >
        <div id="leftTopBox">
            <img class="profile" src="../images/aliIcon/profile.png" alt="查看资料">
            <div class="nickName"></div>
            <input name="currentAccount" type="hidden" value="" >
        </div>
        <div id="messageBox"></div>
        <div id="toolbar" >
            <img class="emoji" src="../images/aliIcon/emoji5.png" >
        </div>
        <div id="inputBox">
            <textarea id="editor" ></textarea>
            <a tabindex="0" class="btn btn-success sendBtn" role="button" data-toggle="popover" data-trigger="focus"
               placement="right" data-content="不能发送空白消息">发送</a>
        </div>
    </div>
</div>
<!-- 好友添加模态框 -->
<div id="addFriendModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新的朋友</h4>
            </div>
            <div class="modal-body">
            <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#queryInfo" data-toggle="tab">添加朋友</a></li>
            <li><a href="#checkInfo" data-toggle="tab">验证消息</a></li>
            </ul>
            <div class="tab-content" >
                <div id="queryInfo" class="tab-pane fade in active" >
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="输入要查找的账号">
                        <span class="input-group-btn">
                                <button id="findUserBtn" class="btn btn-success" type="button">查找</button>
                            </span>
                    </div>
                    <div class="userInfo">
                        <img src=""  alt="头像">
                        <table>
                            <tr>
                                <td>账 号</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>昵 称</td>
                                <td></td>
                            </tr>
                        </table>
                        <a href="#" class="btn btn-success" role="button">添加好友</a>
                        <a href="#" class="btn btn-danger disabled" role="button">已添加</a>
                    </div>
                    <div class="userEmpty">
                        <h3>没有找到符合条件的用户</h3>
                    </div>

                </div> <!-- #queryInfo  -->
                <div class="tab-pane fade" id="checkInfo">
                    <div class="checkInfo" >
                        <table class="table table-hover" >
                            <caption><h4>下列用户想添加您为好友</h4></caption>
                            <thead>
                            <tr>
                                <th>头像</th>
                                <th>账号</th>
                                <th>昵称</th>
                                <th>同意</th>
                                <th>拒绝</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- #checkInfo -->
            </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 发起群聊模态框 -->
<div id="createGroupChatModel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">创建群聊</h4>
            </div>
            <div class="modal-body">
                <div id="createGroupChat" >
                    <div class="leftList" >
                        <input type="text" class="form-control searchContent" aria-describedby="sizing-addon3" placeholder="搜索">
                        <span class="glyphicon glyphicon-search"></span>
                        <div class="leftFriendList">
                            <div class="leftFriend">
                                <img class="img-circle leftFriendImg" src="../images/avator/2.png"><span class="leftFriendUsername" >林林林</span><input name="account" type="hidden" value="linjie">
                                <div class="checkbox checkbox-success checkbox-circle">
                                    <input type="checkbox" id="checkbox1" >
                                    <label for="checkbox1"></label>
                                </div>

                            </div>
                            <hr>
                            <div class="leftFriend">
                                <img class="img-circle leftFriendImg" src="../images/avator/3.png"><span class="leftFriendUsername" >小王</span><input name="account" type="hidden" value="linjie">
                                <div class="checkbox checkbox-success checkbox-circle">
                                    <input type="checkbox" id="checkbox2" >
                                    <label for="checkbox2"></label>
                                </div>
                            </div>
                        </div><!-- leftFriendList -->

<!--                            <div class="checkbox checkbox-success">
                                <input type="checkbox" id="checkbox2" >
                                <label for="checkbox2">
                                    Check me out
                                </label>
                            </div>-->
                    </div>
                    <!--<hr>-->
                    <!--<div class="rightList" ></div>-->
                </div> <!-- #createGroupChat -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->

    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>