<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>WEBIMS</title>
  <!-- jquery -->
  <script src="jquery/jquery-3.1.1.min.js" ></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" >
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/indexStyle.css">


</head>


<body>
<div class="main" >

  <div class="leftBox">


  </div>

  <div class="rightBox">
    <div id="login">
      <form>
        <div class="registe">
          <table>
            <tr >

            </tr>
            <tr>
              <td align="center">
                <ul id="myTab" class="nav nav-tabs">
                  <li class="active">
                    <a href="#loginPage" data-toggle="tab">
                      登录
                    </a>
                  </li>

                  <li><a href="#regPage" data-toggle="tab" id="registeA">注册</a></li>
                </ul>
              </td>
            </tr>
          </table>


          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="loginPage">
              <table>
                <tr>
                  <td>
                    <div class="form-group">
                      <input type="text" class="form-control " id="loginAccount" placeholder="账号（英文）" style="width: 280px">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <input type="password" class="form-control " id="password" placeholder="密码（不少于6位）" style="width: 280px">
                    </div>
                  </td>
                </tr>


                <tr>
                  <td>
                    <div class="form-group">
                      <button id="loginBtn" type="button" class="btn btn-primary" style="width: 280px">登录</button>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div id="check" style="display: none;" class="alert alert-danger">账号或密码错误，请重试！</div>
                  </td>
                </tr>
              </table>

            </div>

            <div class="tab-pane fade" id="regPage">
              <table>
                <tr>
                  <td>
                    <div class="form-group">
                      <input id="account" type="text" class="form-control "  placeholder="账号（英文）" style="width: 280px">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div id="accountCheck" style="color:#695F56">账号必须是英文</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <input id="name" type="text" class="form-control "  placeholder="昵称" style="width: 280px">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div id="nameCheck" style="color:#695F56">昵称是必填项</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <input id="psd" type="password" class="form-control "  placeholder="密码（不少于6位）" style="width: 280px">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div id="psdCheck" style="color:#695F56">密码必填项</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <input id="psdConfirm" type="password" class="form-control "  placeholder="确认密码（不少于6位）" style="width: 280px">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-group">
                      <button id="regBtn" type="button" class="btn btn-primary" style="width: 280px">注册</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

          </div>


        </div>

      </form>

    </div>

  </div>

</div>

<!-- 摸态框-->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        <p id="modalMsg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modalBtn">确定</button>
      </div>
    </div>
  </div>
</div>


</body>
<script type="text/javascript">

    $(function(){
        $("#accountCheck").css({padding:"4px",fontSize:"12px",width:'150px',clign:'center'});
        $("#nameCheck").css({padding:"4px",fontSize:"12px",width:'150px',clign:'center'});
        $("#psdCheck").css({padding:"4px",fontSize:"12px",width:'150px',clign:'center'});


        //注册页面
        $("#registeA").bind("click",function(){
            $("#accountCheck").html("账号必须是英文").attr("class","").css("color","#695F56").show();
            $("#nameCheck").html("昵称是必填项").attr("class","").css("color","#695F56").show();
            $("#psdCheck").html("密码必填项").attr("class","").css("color","#695F56").show();

        });

        //注册校验
        $("#account").bind("blur",function(){
            var account = $("#account").val();
            var reg = /^[a-z,A-Z]+$/;
            if(account.trim().length < 0 || account.trim() == '') {
                $("#accountCheck").css({padding:"4px",fontSize:"12px",width:'150px',color:'red'}).html("账号不能为空").attr("class","alert alert-danger");
            }else if(!reg.test(account)){
                $("#accountCheck").css({padding:"4px",fontSize:"12px",width:'150px',color:'red'}).html("必须是英文").attr("class","alert alert-danger");
            }else if(account.trim().length > 12 || account.trim().length < 6){
                $("#accountCheck").css({padding:"4px",fontSize:"12px",width:'150px',color:'red'}).html("账号长度6到12位").attr("class","alert alert-danger");
            }else{
                $("#accountCheck").hide();
            }

        });//账号校验

        $("#name").bind("blur",function(){
            var name = $("#name").val();
            if(name.trim().length < 0 || name.trim() == ''){
                $("#nameCheck").css({padding:"4px",fontSize:"12px",width:'150px',color:'red'}).html("昵称不能为空").attr("class","alert alert-danger");
            }else if(name.trim().length > 12 || name.trim().length < 6){
                $("#nameCheck").css({padding:"4px",fontSize:"12px",width:'150px',color:'red'}).html("昵称长度6到12位").attr("class","alert alert-danger");
            }else{
                $("#nameCheck").hide();
            }

        });//昵称校验

        $("#psd").bind("blur",function(){
            var psd = $("#psd").val();
            var reg = /^[0-9A-Za-z]{6,12}$/;
            if(psd.trim().length < 0 || psd.trim() == ''){
                $("#psdCheck").css({padding:"4px",fontSize:"12px",width:'150px',color:'red'}).html("密码不能为空").attr("class","alert alert-danger");
            }else if(!reg.test(psd)){
                $("#psdCheck").css({padding:"4px",fontSize:"12px",width:'150px',color:'red'}).html("又6到12字母或数字组成").attr("class","alert alert-danger");
            }else{
                $("#psdCheck").hide();
            }
        });//密码校验


        /*
        * 登录
        * */
        $("#loginBtn").bind("click",function(){
            var account = $("#loginAccount").val();
            var password = $("#password").val();
            console.info(account + ":" + password + "参数值");
            $.ajax({
                url:"/login",
                data:{
                    'account': account,
                    'password': password
                },
                dataType:'json',
                type:'post',
                success:function(data){
                    //alert("请求成功" + data.count);
                    if(data.count == true){
                        //alert("登录成功");
                        window.location.href = "/chatSystem";
                    }else{
                        //alert("登录失败");
                        $("#check").css({padding:"4px",fontSize:"12px",color:'red'}).show();
                    }
                },
                error:function(data){
                    alert("请求失败" + data);
                }
            });
        });



        /*
        * 注册
        * */
        $("#regBtn").bind("click",function () {
            var account = $("#account").val();
            var username = $("#name").val();
            var password = $("#psd").val();
            var psdConfirm = $("#psdConfirm").val();
            console.log("注册参数：" + account + ":" + username + ":" +　password + ":" + psdConfirm);


            if(password != psdConfirm){
                $("#modalMsg").text("密码不一致").css("textAlign","center");
                $("#myModal").modal();
                return;
            }

            $.ajax({
                url:'/reg',
                data:{
                    'account':account,
                    'username':username,
                    'password':password
                },
                dataType:'json',
                type:'post',
                success:function (data) {
                    //alert("注册成功" + data.regResult);
                    if(data.regResult){
                        //alert("注册成功");
                        $("#modalMsg").text("注册成功").css("textAlign","center");
                        $("#myModal").modal();
                        $("#modalBtn").on("click",function () {
                              //alert("锁定登录按钮");
                              $("#myTab li:first a").tab('show');
                        });
                    }else{
                        //alert("注册失败");
                        $("#modalMsg").text("注册失败").css("textAlign","center");
                        $("#myModal").modal();
                        $("#modalBtn").unbind('click');
                    }
                },
                error:function (data) {
                    alert("请求失败" + data);
                }

            });
        });

    });
</script>
</html>