/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
body {
  overflow:hidden;
  background: #f5f5f5 url(../images/bg-2.jpg) no-repeat center;
}

#parentBox {
  background-color: #f5f5f5;
  margin: 20px auto;
  width: 900px;
  height: 600px;
}

/* 左侧样式 */
#menuBox {
  background-color: #25292E;
  width: 6.7%;
  height: 600px;
  float: left;
}

#avator {
  width: 34px;
  height: 34px;
  margin: 12px 13px;
  cursor: pointer;
}

.menu {
  margin: 13px 16px ;
}

#comment {
  position: relative;
  top: 10px;
  cursor: pointer;
}

#friends {
  position: relative;
  top: 30px;
  cursor: pointer;
}

#friend_add {
  position: relative;
  top: 50px;
  cursor: pointer;
}

#setting {
  position: relative;
  top: 396px;
  cursor: pointer;
}

/* 中部样式 */
#middleBox {
  background-color: #EBEBEC;
  width: 28%;
  height: 600px;
  float: left;
}

#queryBox {
  background-color: #EEEBE9;
  height: 60px;
}

/* 放大镜图标 */
#queryBox .glyphicon-search {
  left: 192px;
  top: 4px;
  color: gray;
}

#queryContent {
  position: relative;
  top: 24px;
  left: 22px;
  width: 190px;
  height: 25px;
}

#createGroupChatBtn {
  float: right;
  width: 0px;
  height: 26px;
  position: relative;
  right: 6px;
  bottom: 1px;
}

#createGroupChatBtn img {
  width: 13px;
  height: 13px;
  position: relative;
  right: 6px;
  bottom: 5px;
}

#listBox {
  background-color: #EBEBEC;
  height: 540px;
  overflow-x: hidden;
  overflow-y: auto;
}

.listContent {
  width: 250px;
  height: 60px;
  margin: 1px;
  background-color: #ddd;
}

.blueBar {
  width: 3px;
  height: 60px;
  background-color: #0AA8E3;
  float: left;
}

.content_img {
  width: 34px;
  height: 34px;
  position: relative;
  left: 17px;
  top: 12px;
}

.content_name {
  font-size: 1.2rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
  left: 29px ;
  top: 13px;
}

.online, .offline {
  position: relative;
  top: 14px;
  left: 172px;
  width: 8px;
  height: 8px;
}

/* 右侧样式 */
#leftBox {
  width: 65.3%;
  height: 600px;
  float: left;
  background: #F7F7F7 url(../images/aliIcon/comment.png) no-repeat 186px 186px;
}

#leftTopBox {
  background-color: #F5F5F5;
  width: 100%;
  height: 60px;
  display: flex;
}

.nickName {
  width: auto;
  font-size: 18px;
  margin: 20px 200px;
  cursor: pointer;
}

.profile {
  position: relative;
  left: 540px;
  top: 14px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#messageBox {
  background-color: #F7F7F7;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.rightAvator {
  width: 34px;
  height: 34px;
  float: right;
  /*position: relative;*/
  /*right: 10px;*/
  /*bottom: 2px;*/
  margin-right: 20px;
}

.leftAvator {
  width: 34px;
  height: 34px;
  float: left;
  /*position: relative;*/
  /*right: 10px;*/
  /*bottom: 2px;*/
  margin-left: 20px;
}

.timeMessage {
  background-color: #DADADA;
  width: 100px;
  height: 18px;
  font-size: 11.5px;
  font-family: "Microsoft Sans Serif";
  color: white;
  border-radius: 3px;
  position: relative;
  left: 235px;
  /*top: 6px;*/
  padding: 1px;

}

#toolbar {
  background: #F1F1F1;
  width: 100%;
  height: 25px;
}

.emoji {
  width: 23px;
  height: 23px;
  position: relative;
  top: 3px;
  left: 26px;
  cursor: pointer;
}

#inputBox {
  background-color: #F1F1F1;
  width: 100%;
  height: 115px;
}

#editor {
  width: 90%;
  height: 70px;
  position: relative;
  left: 25px;
  top: 5px;
  background:transparent;
  border-style:none;
  resize:none;
  outline:none;
}

.sendBtn {
  width: 56px;
  height: 32px;
  position: relative;
  left: 519px;
}

/* 小红点 */
.listContent .redPoint {
  font-family:sans-serif;
  display:inline-block;
  height:16px;
  width:16px;
  line-height:16px;
  text-align:center;
  font-size:89%;
  border-radius:16px;
  color:#fff;
  background:red;
  position: relative;
  top: 0px;
  left: 10px;
}
